.label {
    -fx-font-weight:bold;
    -fx-font-size:20px;
    -fx-padding:10px 20px;
    -fx-text-fill:white;
}

.text-field {
    -fx-font-size: 20px;
    -fx-padding: 10px 20px;
}

.password-field {
    -fx-font-size: 20px;
    -fx-padding: 10px 20px;
}

.button {
    -fx-font-size: 20px;
    -fx-padding: 10px 20px;
    -fx-background-color: green;
    -fx-text-fill: white;
}

.label-error {
    -fx-text-fill: red;
    -fx-font-size: 20px;
}
#gridPane {
    -fx-background-image: url('choose-bg.jpg');
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}
#AnchorPane {
     -fx-background-image: url('slider-bg.jpg');
     -fx-background-repeat: no-repeat;
     -fx-background-size: cover;
 }

